@{
    ViewBag.Title = "Contact";
}
<p />
<h2>@ViewBag.Title</h2>

<section class="contact">
    <header>
        <h3>Adresse</h3>
    </header>
    <p>
       Benjamin MAREY<br />
       Strasbourg
    </p>
</section>
<section class="contact">
    <header>
        <h3>Téléphone</h3>
    </header>
    <p>
        <span>+33 6 95 50 48 45</span>
    </p>
</section>
<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p> <span><a href="mailto:mar.benja@gmail.com">mar.benja@gmail.com</a></span>
    </p>
</section>
